.categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 40vh;
    gap: 2px;
    margin: 2px 5px;
}

.catItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #97cece7e;
    transition: transform 0.1s;
    cursor: pointer;
}

.catItem img {
    padding: 20px;
}

.itemtitle {
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    padding: 20px 0;
    text-align: center;
    padding: 0 20px;
}

.catItem:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.catTitle {
    text-align: center;
    width: auto;
    background-color: #97cece7e;
    margin: 5px 5px 2px;
    padding: 10px;
    font-size: larger;
    color: var(--text-color);
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

@media (max-width:1200px) and (min-width:992px) {
    
}
@media (max-width:992px) and (min-width:768px) {
    .categories {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width:768px) and (min-width:600px) {
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:600px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
    }
}