.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items:center;
    align-items: center;
    grid-row: 9vh;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.logoBar {
    display: flex;
    align-items: center;
    font-size: 5vh;
    gap: 1vw;
    font-family: 'Nunito', sans-serif;
    color: var(--main-color);
}

.logo {
    height: 5vh;
}

.rightbtn, .leftbtn {
    display: flex;
    gap: 20px;
    font-size: 3vh;
    width: max-content;
    
}

.rightbtn {
    justify-self: end;
}

.leftbtn {
    justify-self: start;
}


.header svg {
    transition: all 0.2s;
}

.header svg:hover {
    color: var(--main-color);
    filter: drop-shadow(0 0 1px var(--main-color));
}

.linkBar {
    display: flex;
    justify-content: space-around;
    gap: 1px;
    margin: 0 2px;
}

.linkItem {
    color: var(--background-color);
    flex-grow: 1;
    text-align: center;
    background-color: var(--main-color);
    padding: 1vh 0;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.menubtn {
    display: none;
}

.linkItem:hover {
    background-color: var(--main-focus-color);
}

@media (max-width:1200px) and (min-width:992px) {
    
}
@media (max-width:992px) and (min-width:768px) {
    
}
@media (max-width:768px) and (min-width:600px) {
    .linkBar{
        flex-direction: column;
    }
    .linkItem {
        display: none;
    }
    .menubtn {
        display: block;
    }
    .active{
        display: block;
    }
}
@media (max-width:600px) {
    .linkBar{
        flex-direction: column;
    }
    .linkItem {
        display: none;
    }
    .menubtn {
        display: block;
    }
    .active{
        display: block;
    }
    .header {
        grid-template-columns: 1fr 1fr;
    }
    .logoBar {
        grid-column: 1/-1;
        grid-row: 1;
    }
    .rightbtn, .leftbtn {
        grid-row: 2;
    }
    .rightbtn {
        justify-self: start;
    }
    
    .leftbtn {
        justify-self: end;
        margin-right: 20px;
    }
}