.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 8vh 4vw;
    color: var(--text-color);
    font-family: cursive;
    grid-gap: 20px;
}

.logo {
    height: 5vh;
}

.logoBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--main-color);
    font-size: 4vh;
    font-family: cursive;
    margin-bottom: 5vh;
}

.column {
    flex-basis: 23%;
}


.colTitle{
    font-weight: bolder;
    font-size: large;
    margin-bottom: 4vh;
}

.email {
    margin: 2vh 0;
    text-decoration: underline;
}

.colItemLink{
    margin: 1vh 0;
    cursor: pointer;
}

.socMediaBar {
    display: flex;
    gap: 1vw;
}

.socMediaBar svg {
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 50%;
    transition: all 0.2s;
    color: var(--background-color);
}

.socMediaBar svg:hover {
    background-color: var(--main-focus-color);
    box-shadow: 0 0 10px var(--main-focus-color);
}

@media (max-width:1200px) and (min-width:992px) {
    
}
@media (max-width:992px) and (min-width:768px) {
    .footer{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (max-width:768px) and (min-width:600px) {
    .footer{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:600px) {
    .footer{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .socMediaBar{
        justify-content: space-around;
    }
}